// 20.  MEDIA QUERIES                
// 20A. 1150px              
// 20B. 910px - HAMBURGER              
// 20C. 800Px - MEDIUM, TABLET       
// 20D. 700Px - MEDIUM SMALL, TABLET  
// 20E. 500px - LARGE PHONE SIZE, IPHONE6   
// 20F. 400px - PHONE SIZE, MOST PHONES         

@import "style_variables_and_mixins.scss";


/* 20AA. 1150px              */
@media screen and (max-width: 1300px) and (min-width: 1099px){

    /* 5.1 IMAGE-FIRST TEMPLATE          */
    .page-template-page-imagefirst {  
        .image-first {
            .text {
                margin-left: 14%;
                margin-right: 14%;
                //background-color: red;
            }
            &.content_end {
                .footer_container {
                    padding: 50px 14%;
                }
            }
        }
    }

    /* 5.1 IMAGE-FIRST TEMPLATE          */    
    .page-template-page-imagefirst {
        .image-first {
            &.content_end {
                .footer_container {
                    .footer_container_inner {
                        margin: 0;
                    }
                }
            }
        }
    }
 

    /* 5.2 HOME                          */
    .home {
        &.no-sidebar .entry-content {
            .forest-image {
                padding: 80px 295px;
            }
        }    
    }

    /* 7. FOOTER                */
    .footer_container { 
        //padding: 50px 14%;
    }  

}

@media screen and (max-width: 1100px) and (min-width: 911px){

    /* 0. BASIC STYLING     */
    hr {
        margin-top: 75px;
        margin-bottom: 75px;
    }

    /* 5.1 IMAGE-FIRST TEMPLATE          */
    .page-template-page-imagefirst {  
        .image-first {
            .text {
                margin-left: 8%;
                margin-right: 8%;
                //background-color: blue;                
            }
            &.content_end {
                .footer_container {
                    padding: 50px 8%;
                    .footer_container_inner {
                        margin: 0;
                    }
                }
            }
        }
    }

    /* 5.2 HOME                          */
    .home {
        &.no-sidebar .entry-content {
            .forest-image {
                padding: 50px 200px;
            }
        }    
    }

    /* 7. FOOTER                */
    .footer_container { 
        padding: 50px 8%;
    }  
}



/* *********************************** */
/* 20B. 910px - HAMBURGER              */
/* Size at which the menu becomes mobile/tablet optimised */
@media screen and (max-width: 910px) {
    @-ms-viewport { width: 910px; }   
    /* 0. BASIC STYLING     */
    hr {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    /* 1. LAYOUT       */

    .site-header-main, #content {
        max-width: none;
        max-width: unset;
        padding: 0;
    }
    #content {
        margin-top: 0;
    }
    .site-header-menu {
        margin-top: 20px;
    }
    //place the navigation where we want it
    .site-header-menu {
        .menu-main-menu-container {
            margin-top: 0;
        }
    }    

    /* 2. HEADER            */    
    #masthead {  
        position: static;
        height: unset;
        height: none;
        min-height: 125px;
        padding: 0;
    }

    /* 3. NAVIGATION        */ 
    #menu-toggle {
        margin-right: 20px;
    }   
    .main-navigation {
        background-color: $opcan_light_green;
        border-top: 3px solid white;
        margin-top: 25px;
        ul {
            width: 100%;
        }
        li {
            text-align: center;
            margin-left: 0;
            a {
                padding: 10px;
                color: $main_text_colour;
            }
        }
    }

    /* 5.1 IMAGE-FIRST TEMPLATE          */
    .page-template-page-imagefirst {  
        .image-first {
            .text {
                margin: 50px 4% 0;
                //background-color: yellow;
            }
            &.content_end {
                .footer_container {
                    padding: 50px 4%;
                    .footer_container_inner {
                        margin: 0;
                    }
                }
            }
        }
    }

    /* 5.2 HOME                          */
    .home {
        &.no-sidebar .entry-content {
            .forest-image {
                padding: 30px 180px;
                height: 400px;
                font-size: 1.7em;
                line-height: 1.5em;
            }
        }    
    }

    /* 7. FOOTER                */
    //menu items always display, make them full-width
    .site-footer .main-navigation {
        width: 100%;
        margin-top: 0;
    }
    .footer_container { 
        padding: 50px 4%;
    }  
}


/* ******************************************* */
/* inbetweeny size, medium small, tablet size */
/* 20C. 800PC - MEDIUM, TABLET           */
@media screen and (max-width: 800px) { 
    @-ms-viewport { width: 800px; }     
    /* 0. BASIC STYLING     */
    ul, ol {
        margin-left: 0;
    }


    /* 2. HEADER            */
    .site-branding {
        .site-description {
            display: block;
        }
    }

    /* 5.1 IMAGE-FIRST TEMPLATE          */
    .page-template-page-imagefirst {  
        .image-first {
            .text {
                background-color: pink;
            }
        }
    }

    /* 5.2 HOME                          */
    .home {
        &.no-sidebar .entry-content {
            .forest-image {
                padding: 50px 100px;
                height: 350px;
                font-size: 1.6em;
            }
        }    
    }

    /* 7. FOOTER                */
    .footer_container { 
        padding: 0px 4%;
        margin-top: 0;
        .image {
            img {
                width: 225px;
                padding: 0px;
            }
        }
    }

} 


/* ******************************************* */
/* medium small, tablet size */
/* 20D. 700PC - MEDIUM SMALL, TABLET           */
@media screen and (max-width: 700px) { 
    @-ms-viewport { width: 700px; }

    /* 0. BASIC STYLING     */
    body {
        font-size: 1em;
        line-height: 1.4em;
    }
    .dashicons, .dashicons-before::before {
        margin-top: 1px;
    }
    .display-only-on-smaller-screens {
        display: block;
    }
    .display-only-on-larger-screens {
        display: none;
    }    

    /* 1. LAYOUT       */
    .site-header-menu {
        margin-top: 0;
    }

    /* 2. HEADER            */    
    #masthead {  
        background-image: none;
        min-height: 105px;
    }
    .site-branding {
        margin: 15px 5% 0;
        @include align_start();
    }

    /* 3.1. HAMBURGER NAV        */
    #menu-toggle {
        margin-top: -40px;
    }    

    /* 5.1 IMAGE-FIRST TEMPLATE          */
    .page-template-page-imagefirst {  
        .image-first {
            .text {
                background-color: green;
            }
        }
    }

    /* 5.2 HOME                          */
    .home {
        &.no-sidebar .entry-content {
            .forest-image {
                padding: 50px 25px;   
                font-size: 1.4em;
                line-height: 1.7em;
            }
            ul.borders {
                @include column_direction ();
                @include align_center();
                margin: 0 auto 50px;
                li {
                    width: 80%;
                    margin: 15px 0 0;
                }
            }
        }    
    }   

    /* 6. SLIDERS                        */
    .soliloquy-outer-container {
        display: none;
    } 

    /* 7. FOOTER                */
    .footer_container { 
        .image {
            margin-right: 25px;
            img {
                width: 225px;
                padding: 0px;
            }
        }
        .text {     
            h2 {
                line-height: 1.2em;
                margin-bottom: 15px;
            }
        }
    }
}



/* phone size, around iphone 6 Plus*/
/* 20E. PHONE SIZE, IPHONE6 Plus, Samsung S8    */
@media screen and (max-width: 500px) {    
    @-ms-viewport { width: 500px; }

    /* 2. HEADER            */    
    .site-branding {
        .site-description {
            padding-right: 100px;
        }
    }

    /* 5.1 IMAGE-FIRST TEMPLATE          */
    .page-template-page-imagefirst {  
        .image-first {
            .text {
                background-color: purple;
            }
        }
    }

    /* 5.2 HOME                          */
    .home {
        &.no-sidebar .entry-content {
            .forest-image {
                padding: 15px 30px;   
                line-height: 1.4em;
            }
            ul.borders {
                li {
                    width: 90%;
                }
            }
        }    
    }   

    /* 7. FOOTER                */
    .footer_container { 
        .image {
            margin-right: 0;
        }
        .text {     
            h2 {
                font-size: 1.4em;
            }
            .icons {
                p {
                    margin: 0 5px;
                }
            }
            .twitter {
                width: 30px;
            }
            .linkedIn {
                width: 30px;
            }
            .dashicons {
                width: 30px;
                height: 30px;
            }
            .dashicons-email-alt::before {
                font-size: 30px;
                margin-top: 0;
            }
        }
    }
}

/* 20F. PHONE SIZE, MOST PHONES        */
@media screen and (max-width: 400px) {    
    @-ms-viewport { width: 400px; }

    /* 2. HEADER            */
    .site-branding {
        //margin-top: 5px;
        .site-description {
            //margin-top: 10px;
        }
    }

    /* 3.1. HAMBURGER NAV        */
    #menu-toggle {
        margin-top: -25px;
    }



    /* 5.1 IMAGE-FIRST TEMPLATE          */
    .page-template-page-imagefirst {  
        .image-first {
            .text {
                background-color: yellow;
            }
        }
    }
}



