.btn {
    background-color: transparent;
    border: 1px solid $opcan-offwhite;
    color: $opcan-offwhite;
    @include rem (font-size, $h5-font-size);
    &:hover {
        background-color: $opcan-offwhite;
        color: $opcan-green;

        .icon {
            color: $opcan-green;
        }
    }

    .icon::before {
        @include rem (font-size, $h5-font-size);
    }

}