.wp-block-columns {
    @include make-row;
    margin-top: 2rem;
    margin-bottom: 2rem;

    > div {
        @include make-col(12);
        padding: 2rem;

        p:last-child {
            margin-bottom: 0;
        }
    }
}

.wp-block-columns.has-2-columns {
    > div, 
    > figure {
        @include media-breakpoint-up(md) {
            @include make-col(6);
        }
    }

    .layout-column-1 {
        order: 1;
    }
    .layout-column-2 {
        order: 2;
    }
}

.wp-block-columns.has-3-columns {
    > div {
        @include media-breakpoint-up(md) {
            @include make-col(4);
        }
    }
}

.text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.wp-block-separator {
    max-width: none;
    border-bottom: 1px solid $opcan_borders;
    margin: 3rem 0;
}