.service-icons-block {
    > span {
        font-size: $site-title-font-size;
		text-align: center; 
		width: 100%;
		margin-top: 2rem;

        &:hover, a:hover,
        &:active, a:active {
            color: $opcan-green;
		}
		
		@include media-breakpoint-up(md) {
			padding: 0 2rem;

			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
		}

    }
	
	button {
		margin-bottom: 2rem;
	}

    h3 {
		padding-top: 2rem;
		margin-bottom: 1rem;
    }
}