.navbar-toggler {
    position: absolute;
    @include rem(margin-top, $h1-font-size+10px);
    align-self: flex-end;
    padding: 0.5rem 0.5rem;
    color: $opcan_offwhite;
    border: 1px solid $opcan_offwhite;

    @include media-breakpoint-up(sm) {
        @include rem(margin-top, 0);
    }      
}

#navbarNavDropdown {
    margin-left: calc(-50vw + 50%);
    width: 100vw;
    background-color: $opcan_light_green;

    @include media-breakpoint-up(md) {
        background-color: transparent;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }    
}

#navbarNavDropdown.show, #navbarNavDropdown.collapsing {
    li a {
        border-bottom: 1px solid white;
        padding: .75em 0;
    }
    li:last-child a {
        border-bottom: 0;
    }
}


#main-menu {
    @extend .container;
    @include rem(padding-left, 23px);

    @include media-breakpoint-up(sm) {
        @include rem(padding-left, 15px);
    }   

    @include media-breakpoint-up(md) {
        padding-top: 1rem;
    } 
    
    li a {
        text-transform: uppercase;  
        @include rem(font-size, $navigation-font-size-small);

        @include media-breakpoint-up(md) {
            padding: .5rem 1em;
        } 

        &:hover {
            color: $main_text_colour;
        }
    }
    li.current_page_item {
        font-weight: 500;
    }
}
