.banner {
	margin-top: -1.5rem;
	
}

.banner__image {
	position: relative;

	&:after {
		background-color: rgba(0,0,0,0.2);
		position: absolute;
		content:"";
		top:0;
		left:0;
		width:100%;
		height:100%;
		border-radius: $box-border-radius;
	}

	&:hover {
		&:after {
			background-color: rgba(0,0,0,0);
			border-radius: $box-border-radius;
		}
	}

	img {
		display: none;

		@include media-breakpoint-up(md) {
			width: 100%;
			display: block;
		}
	}
}

.banner__overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;	
	background-color: rgba(0,0,0,0.5);
	// z-index: 1;

	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
}

.banner__text {
	text-align: center;
	padding: 2rem;

	@include media-breakpoint-up(md) {
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	
	}

	@include media-breakpoint-up(lg) {
		
	}

	h1 {
		font-size: var(--wp--preset--font-size--huge);
		text-shadow: $opcan-text-shadow;

		@include media-breakpoint-up(md) {
			color: white;
		}
		@include media-breakpoint-up(lg) {
			line-height: 1.3;
		}
	}
}

.banner__text--wplogo {
	max-width: 500px;
	margin: auto;
}