.banner {
	display: none;

	@include media-breakpoint-up(md) {
		display: block;
	}
}

.banner__image {
	position: relative;

	&:after {
		background-color: rgba(0,0,0,0.5);
		position: absolute;
		content:"";
		top:0;
		left:0;
		width:100%;
		height:100%;
	}

	&:hover {
		&:after {
			background-color: rgba(0,0,0,0.2);
		}
	}

	img {
		border-radius: 0;
	}
}

.banner__overlay {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;	
	background-color: rgba(0,0,0,0.5);
	// z-index: 1;

	&:hover {
		background-color: rgba(0,0,0,0.2);
	}
}

.banner__text {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
	@include rem(margin-top, 30px);
	z-index: 1;

	@include media-breakpoint-up(lg) {
		@include rem(margin-top, 60px);
	}

	p {
		color: white;
		@include rem(font-size, $site-title-font-size);
		@include rem(line-height, $site-title-line-height);
		font-family: $title-font;
		font-weight: $base-font-weight;

		@include media-breakpoint-up(lg) {
			@include rem(font-size, $site-title-font-size-desktop);
			@include rem(line-height, $site-title-line-height-desktop);
		}
	}
}

.banner__text--wplogo {
	max-width: 500px;
	margin: auto;
}