.btn, .wp-block-button__link {
    font-family: $base-font;
    line-height: 1;
	padding: 1rem 1.5rem;
	border-radius: .25rem;
    border: none;
    min-height: 2rem;
    background-color: $opcan_accent2;
    color: $opcan-offwhite;

    &:hover {
        text-decoration: none;
        color: $opcan-offwhite;
        background-color: $opcan-accent1-dark;
    }

    > span {
        font-family: $base-font;
    }

    &::after {
        font-size: 1rem;
    }
}

.btn-secondary {
    background-color: transparent;
    border: 1px solid $opcan-offwhite;
    color: $opcan-offwhite;

    &:hover {
        background-color: $opcan-offwhite;
        color: $opcan_accent2;

        .icon {
            color: $opcan_accent2;
        }
    }
}

.btn-inner {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.button-container {
    padding: 0 0 3rem;
}
