.service-icons-block {
	text-align: center;
	margin: 3rem 0;

    div > span:before {
        font-size: $site-title-font-size;
		width: 100%;
		margin-top: 2rem;
		color: $main_text_colour;
		
		@include media-breakpoint-up(md) {
			padding: 0 2rem;

			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
			}
		}

    }

    h3 {
		margin-bottom: 1rem;
    }
	
	h3, p {
		padding-top: 0;
		margin-block-start: 1rem;
    }

	p {
		text-align: left;
	}

	.wp-block-buttons {
		margin-bottom: 2rem;
		margin-block-start: 1rem;
	}
}