.testimonials {
	margin: 2rem 0;

	.flexslider li {
		margin-bottom: 2rem;
	}
}

.testimonial {
	margin-left: 0;
	margin-right: 0;

	> div {
		padding-left: 0;
		padding-right: 0;
	}
}

.slides .testimonial__image img {
	width: auto;
	border-radius: 50%;
	margin: 0 auto 15px;

	@include media-breakpoint-up(md) {
		margin: 0 auto;
	}
}