//
// This partial is for Base element styling only.
// If it is not an element selector or pseudo class of a base element
// then it does not belong in this file.
//

html {
  box-sizing: border-box;
}


* {
    box-sizing: inherit;

    &:before,
    &:after {
        box-sizing: inherit;
    }
}

html,
body,
p {
    color: $main_text_colour;
    font-family: $base-font;
    font-weight: $base-font-weight;
    @include rem(font-size, $base-font-size);
    line-height: $base-line-height;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

// HTML5 responsive video //
video {
    height: auto;
    width: 100%;
}

// Basic responsive imagery //
img {
    height: auto;
    max-width: 100%;
    border-radius: $box-border-radius;
}

// Interactions should have pointer //
label,
a,
button,
select,
input[type="submit"] {
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $title-font;
    font-weight: $base-font-weight;
}

h1 {
    @include rem(font-size, $h1-font-size);
}

h2 {
    @include rem(font-size, $h2-font-size);
}

h3 {
    @include rem(font-size, $h3-font-size);
    color: $opcan-green;
}

// h4 {
//     @include rem(font-size, $heading-four);
// }

// h5 {
//     @include rem(font-size, $heading-five);
// }

// h6 {
//     @include rem(font-size, $heading-six);
//     font-family: $base-font;
// }

a {
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: $opcan-green;
    font-weight: $base-font-weight-heavy;

    &:hover,
    &:active {
        color: $main_text_colour;
        outline: 0;
        text-decoration: underline;
    }
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    ul {
        list-style: none;
        margin: 0;
        padding: 0 15px;
    }
}

// form {
//     text-align: center;

//     label,
//     input {
//         @include rem(font-size, 12px);
//     }

//     label {
//         @include rem(margin-top, 10px);
//         font-weight: 300;
//         text-transform: uppercase;
//     }
// }

input {
    &:invalid {
        box-shadow: none;
    }
}

// input[type="text"],
// input[type="password"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="month"],
// input[type="week"],
// input[type="email"],
// input[type="number"],
// input[type="search"],
// input[type="tel"],
// input[type="time"],
// input[type="url"],
// input[type="submit"],
// textarea {
//     border-radius: 0;
//     -webkit-appearance: none;
//     background-color: transparent;
//     border-width: 0 0 1px 0;
//     border-color: $black;
//     border-style: solid;
//     max-width: 100%;

//     &:focus {
//         outline: 0;
//     }
// }

// input {
//     transition: background-color .3s ease-in-out;
//     margin-bottom: 0;
//     &:hover {
//         background-color: $white;
//     }
// }

// input[type="submit"] {
//     @include rem(font-size, 12px);
//     border: 1px solid $black;
//     background-color: transparent;
//     transition: background-color .3s ease-in-out;
//     width: 100%;
//     color: $black;
//     &:hover {
//         background-color: $white;
//     }
// }

textarea {
    resize: vertical;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
    border: 0;
    border-radius: 0;
    padding: 0;
}

select {
    max-width: 100%;
}

iframe,
object,
embed {
    max-width: 100%;
}

button {
    -webkit-tap-highlight-color: transparent;
    user-select: none;
    text-align: center;

    &::-moz-focus-inner {
        border: 0;
    }

    &:disabled {
        opacity: .5;
    }
}


ul, ol {
    margin: 0 0 1rem;
    padding: 0 15px;
}

