

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-earth:after {
  content: "\e90a";
}
.icon-globe:after {
  content: "\e90a";
}
.icon-group:after {
  content: "\e909";
}
.icon-edit:after {
  content: "\e908";
}
.icon-pencil-square-o:after {
  content: "\e908";
}
.icon-arrow-right:after {
  content: "\e907";
}
.icon-dashboard:after {
  content: "\e902";
}
.icon-tachometer:after {
  content: "\e902";
}
.icon-graduation-cap:after {
  content: "\e903";
}
.icon-mortar-board:after {
  content: "\e903";
}
.icon-bullhorn:after {
  content: "\e904";
}
.icon-code:after {
  content: "\e905";
}
.icon-envelope:after {
  content: "\e906";
}
.icon-linkedin:after {
  content: "\e901";
}
.icon-twitter:after {
  content: "\e900";
}
