// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder. 
// Just copy a variable from src/sass/bootstrap4/_variables.scss, paste it here and edit the value.


// Colour palette
// ------------------------------------------------
$main_text_colour: #161d12;
$headers_text_colour: #626b6c;

$background_colour: #7b7e78;
$opcan_borders: #e0e1e2;

$opcan_offwhite: #fafaf9;

$opcan_green: #f20ba9;
$opcan_medium_green: #6e855d;
$opcan_light_green: #c1cbba;


// Font variables
// ------------------------------------------------

$base-font: 'Montserrat', serif;
$title-font: 'Museo', sans-serif;

$base-font-size: 16px;

$site-title-font-size: 44px;
$site-title-line-height: 52px;

$site-title-font-size-desktop: 52px;
$site-title-line-height-desktop: 82px;

$h1-font-size: 34px;
$h2-font-size: 30px;
$h3-font-size: 24px;
$h4-font-size: 20px;
$h5-font-size: 18px;

$navigation-font-size-small: 18px;
$navigation-font-size-medium: 20px;

$testimonial-mobile-size: 14px;

$base-font-weight: 300;
$base-font-weight-heavy: 500;

// Useful widths and heights
// ------------------------------------------------
$max-reading-width: 740px;

$footer-container-width: 540px;
$footer-height: 180px;

$box-border-radius: 10px;

/* FOR EASY REMINDER OF BOOTSTRAP SIZES */
// $small: 576px;
// $medium: 768px;
// $large: 992px;
// $xlarge: 1200px;

