@font-face {
    font-family: "Museo";
    src: url("../fonts/Museo/MuseoSansRounded-700-webfont.eot");
    src: url("../fonts/Museo/MuseoSansRounded-700-webfont.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/Museo/MuseoSansRounded-700-webfont.woff2") format("woff2"), 
         url("../fonts/Museo/MuseoSansRounded-700-webfont.ttf") format("truetype"), 
         url("../fonts/Museo/MuseoSansRounded-700-webfont.svg#texgyreherosregular") format("svg");
    font-weight: 700;
    font-style: normal; 
}

@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/Icomoon/icomoon.eot?bk8w2k');
	src:  url('../fonts/Icomoon/icomoon.eot?bk8w2k#iefix') format('embedded-opentype'),
	  url('../fonts/Icomoon/icomoon.ttf?bk8w2k') format('truetype'),
	  url('../fonts/Icomoon/icomoon.woff?bk8w2k') format('woff'),
	  url('../fonts/Icomoon/icomoon.svg?bk8w2k#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
	font-display: block;
  }
