@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: "Museo";
    src: url("../fonts/Museo/MuseoSansRounded-700-webfont.eot");
    src: url("../fonts/Museo/MuseoSansRounded-700-webfont.eot?#iefix") format("embedded-opentype"), 
         url("../fonts/Museo/MuseoSansRounded-700-webfont.woff") format("woff"), 
         url("../fonts/Museo/MuseoSansRounded-700-webfont.ttf") format("truetype"), 
         url("../fonts/Museo/MuseoSansRounded-700-webfont.svg#texgyreherosregular") format("svg");
    font-weight: 700;
    font-style: normal; 
}
