@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond');

@font-face {
    font-family: 'ProzaLibre';
    src: url('fonts/proza-libre/prozalibre-regular.eot');
    src: url('fonts/proza-libre/prozalibre-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/proza-libre/prozalibre-regular.woff2') format('woff2'),
         url('fonts/proza-libre/prozalibre-regular.woff') format('woff'),
         url('fonts/proza-libre/prozalibre-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}