.bg-opcan-green {
    background-color: $opcan_green;
}

.display-only-on-larger-screens {
    display: none;

    @include media-breakpoint-up(sm) {
        display: block;
    } 
}

.display-only-on-smaller-screens {

    @include media-breakpoint-up(sm) {
        display: none;;
    } 
}

.date {
    @include rem(font-size, $h4-font-size);
    font-weight: $base-font-weight-heavy;
}