/* 1. VISUAL COMPOSER STYLE OVERRIDES   */
/* 2. CLASSES THE USER CAN APPLY        */

/* 1. VISUAL COMPOSER STYLE OVERRIDES   */
.vc_row {
    .wpb_text_column {

        h1, h2, h3 {
            color: $sol-accent-colour;
            margin-left: 0;
            margin-right: 0;
        }
        h1 {
            text-align: center;
        }
        ul {
            margin-left: 15px;
        }
    }
}


/* Hides price inserted before 'Add to basket' buttons 
when button is added to a page using Visual Composer  */
.page p.product.woocommerce.add_to_cart_inline {
    border: none !important;
    span.woocommerce-Price-amount.amount {
        display: none;
    }
}

/* 2. CLASSES THE USER CAN APPLY        */

// use for vertically aligning Visual Composer content
// used on homepage to vertically align a short text block between two portrait images
.sol-valign-content-center,
.vc_row.vc_row-flex > .sol-valign-content-center.vc_column_container > .vc_column-inner  {
    display: flex;
    justify-content: center;
}

// use to make sure a Visual Composer block doesn't become too wide
// specifically designed text blocks in mind which could stretch too much and become hard to read
.sol-keep-block-width-readable,
.sol-keep-block-width-readable.wpb_content_element {
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

