
.blog .mainwrap, .single .mainwrap, .archive .mainwrap  {
    @include rem(padding-top, $vertical-spacing-unit);
    .sol-categories {
        background-color: $white;
        @include rem(padding-bottom, ($horizontal-spacing-unit * 2));
        text-align: center;
        text-transform: uppercase;
        font-size: $navigation-font-size;
        letter-spacing: 1px;

        a {
            display: inline-block;
            word-wrap: normal;
        }

        a:link, a:visited {
            color: $black;
            font-weight: normal;
        }
        a:hover {
            color: $sol-accent-colour;
        }
        span {
            padding: 0.5em 1em;
        }
    }
}

.mainwrap.single-default.sidebar .relatedPosts {
    box-sizing: unset;
}


.mainwrap.blog .blogcontent {
    color: $black;
    font-weight: normal;
}

.addthis_button_google_plusone_share, .addthis_button_stumbleupon {
    display: none;
}

.everly-read-more a:hover, #submit:hover {
    background-color: transparent !important; //stupid Everly theme uses way too many importants
    color: $sol-accent-colour !important; //as per above :(
}