/* 1. GENERAL, USEFUL FOOTER STUFF */
/* 2. STANDARD FOOTER              */
/* 3. CONTACT FOOTER               */



/* 1. GENERAL, USEFUL FOOTER STUFF */
.footer-title {
  @include rem( font-size, $h4-font-size);
  @include rem( line-height, $h4-font-size);
  text-align: center;
  color: $opcan-offwhite;
  font-family: $title-font;
}

.footer-connect {
  @extend .d-flex;
  @extend .flex-column;
  @extend .align-items-center;
  @extend .justify-content-center;
}


/* 2. STANDARD FOOTER */
#wrapper-footer {
  background-color: $background_colour;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  @include rem(height, $footer-height);
  @extend .d-flex;
  @extend .align-items-center;
}

.footer {
  @include rem( max-width, $footer-container-width);
  @extend .row;
  margin: auto;

  .hello-again, .footer-connect {
    @extend .col-6;
    padding: 0;
  }
}

.hello-again img{
  width: 100%;
  max-width: 180px;
}


/* 3. CONTACT FOOTER */
.footer-contact-cta {
  background-color: $opcan-green;
  padding: 1.5rem 0;

  .footer-contact-cta-inner {
    @include rem( max-width, $footer-container-width);
    color: $opcan-offwhite;
    @extend .container;
    text-align: center;

    .footer-title {
      @include rem( line-height, $h4-font-size*1.5);
      text-align: justify;
    }
  }
}