/* 1. STANDARD FOOTER              */
/* 2. CONTACT FOOTER               */
/* 3. FOOTER BOTTOM                */


/* 1. STANDARD FOOTER */
#wrapper-footer {
  background-color: $background_colour;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: -1;
  @include rem(height, $footer-height);
  @extend .d-flex;
  @extend .align-items-center;
}

.footer {
  @include rem( max-width, $footer-container-width);
  @extend .row;
  margin: auto;

  .hello-again, .footer-connect {
    @extend .col-6;
    padding: 0;
  }
}

.hello-again img{
	width: 100%;
	max-width: 180px;
}

.footer__title {
	@include rem( font-size, $h4-font-size);
	@include rem( line-height, $h4-font-size);
	text-align: center;
	color: $opcan-offwhite;
	font-family: $title-font;

	> a,
	> a:hover {
		color: $opcan-offwhite;
	}
}

.footer__title--small {
	@include rem( font-size, $h5-font-size );
	margin-bottom: 0;
}

.footer__title--mini {
	@include rem( font-size, $base-font-size );
	margin-bottom: 0;
}


/* 2. CONTACT FOOTER */
.footer-contact-cta {
  background-color: $opcan-green;
  padding: 1.5rem 0;

  .footer-contact-cta-inner {
    @include rem( max-width, $footer-container-width);
    color: $opcan-offwhite;
    @extend .container;
    text-align: center;

    @include media-breakpoint-up(md) {
      padding-left: 0;
      padding-right: 0;  
    }

    .footer__title {
	  @include rem( line-height, $h4-font-size*1.5);
      text-align: justify;
	}
  }
}


/* 3. FOOTER BOTTOM                */
.footer-connect {
	@extend .d-flex;
	@extend .flex-column;
	@extend .align-items-center;
	@extend .justify-content-center;
	margin-top: 1rem;
}


/* 4. EMISSIONS CHECK              */
.footer__emissions-check {
	position: relative;
	margin-left: -40px;
	height: 100%;
	display: flex;
	align-items: flex-end;


    @media screen and (min-width: 450px ) {
		margin-left: 0;
	}
}
