#wrapper-navbar {
  .custom-logo-link {
    margin: auto;

    @include media-breakpoint-up(md) {
      margin: 0px;
      position: absolute;
    }

    img {
      height: 150px;
      width: 200px;
    }
  }



  .navbar-inner {
    a {
      color: $opcan_offwhite;
    }

    @extend .d-flex;
    @extend .flex-column;
    
    .blog-name {
      text-transform: uppercase;
      font-size: $h1-font-size;
    }
    .blog-description {

    }

  }

  

 

}