/* Footer bar across all pages */
#page-wrapper {
  z-index: 1;
  position: relative;
  @include rem(margin-bottom, $footer-height);
  background-color: white;
  padding-top: 2rem;

  @include media-breakpoint-up(md) {
    padding-top: 3rem;
  }

  article {
    padding-bottom: 2rem;

    @include media-breakpoint-up(md) {
      padding-bottom: 3rem;
    }
  }
}