/* Header bar across all pages
   Controls layout of logo, site title and site description */

.navbar {
  padding: 0;
  border-bottom: 3px solid white;

  @include media-breakpoint-down(sm) {
	display: block;
  }

  @include media-breakpoint-up(md) {
	display: flex;
    @include rem(height, 170px);
  }
}

.navbar-opcan {
  background-color: $opcan_accent1;
}

.navbar-expand-md > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-logo-link {
	width: 100%;
	text-align: center;

	@include media-breakpoint-up(md) {
		width: auto;
		position: absolute;
		top: 10px;
	}

	img {
		@include rem(height, 150px);
		@include rem(width, 203px);

		@include media-breakpoint-up(md) {
			margin-left: 0.5rem;
		}

		@include media-breakpoint-up(lg) {
			margin-left: 2rem;
		}
	}
}

.navbar-brand {
  padding: 0;
  white-space: normal;
  margin-right: 0;

  @include media-breakpoint-up(md) {
    margin: 0;
  }
}

.navbar-inner {
  @extend .align-self-end;
  @extend .d-flex;
  @extend .align-items-start;
  padding-top: 1rem;
  padding-bottom: 0.25rem;

  @include media-breakpoint-up(md) {
    flex-direction: column;
    align-items: center !important;
    padding-top: 0;
  }

  a {
    color: $main_text_colour;
  }

  .blog-name {
    text-transform: uppercase;
    font-family: $title-font;
    font-size: var(--wp--preset--font-size--x-large);
    line-height: 1.2;
    margin-right: 0;
    color: white;  	
    text-shadow: 2px 4px 3px rgba(21,87,99,0.6);

    @include media-breakpoint-up(sm) {

    }
  }

  .blog-description {
    color: $main_text_colour;
    //padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: $base-font-weight-heavy;
    @include rem(font-size, $navigation-font-size-small);
    

    @include media-breakpoint-up(sm) {
      @include rem(letter-spacing, 0.15px);
      @include rem(font-size, $navigation-font-size-medium);
    }

    @include media-breakpoint-up(md) {
      width: auto;
      order: 1;
    }
  }
}