/* Header bar across all pages
   Controls layout of logo, site title and site description */

.wrapper-navbar {
  background-color: $opcan_accent1;
  background: linear-gradient(0deg, $opcan_accent1-light 0%, $opcan_accent1 100%); 
    border-bottom: 3px solid white; 
}

.navbar {
  // padding: 0;

  @include media-breakpoint-down(sm) {
	//display: block;
  }

  @include media-breakpoint-up(md) {
	  //display: flex;
    min-height: 180px;
  }
}

.navbar-opcan {
  padding: 1rem;
  justify-content: center;

  @include media-breakpoint-up(md) {
	  justify-content: flex-start;
  }
}

.navbar-expand-md > .container {
  padding-left: 15px;
  padding-right: 15px;
}

.custom-logo-link {
  display: block;
  height: 100%;
	width: auto;
	text-align: center;
  padding: 0;

	@include media-breakpoint-up(md) {
		width: auto;
		//position: absolute;
    // padding: 1rem 0;
	}

	img {
		height: 100%;
    width: auto;
    max-height: 180px;

		@include media-breakpoint-up(md) {
			//margin-left: 0.5rem;
		}

		@include media-breakpoint-up(lg) {
			//margin-left: 2rem;
		}
	}
}

.navbar-brand {
  white-space: normal;
  margin-right: 0;

  @include media-breakpoint-up(md) {
    margin: 0;
  }
}

.navbar-inner {
  align-self: flex-end;
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
  height: 100%;
  padding-top: 1rem;

    @media (min-width: 440px) {
		  gap: 0;
	  }

  @include media-breakpoint-up(md) {
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    padding-top: 0;
  }

  a {
    color: $main_text_colour;
  }

  .blog-name {
    flex-grow: 1;
    text-transform: uppercase;
    font-family: $title-font;
    font-size: var(--wp--preset--font-size--x-large);
    line-height: 1;
    padding: 0;
    color: white;  	
    text-shadow: 1px 1px 3px $main_text_colour;

    @include media-breakpoint-up(sm) {

    }
  }

  .blog-description {
    color: $main_text_colour;
    font-weight: $base-font-weight-heavy;
    @include rem(font-size, $navigation-font-size-small);
    padding: 0;

    @media (min-width: 440px) {
		  order: 2;
	  }

    @include media-breakpoint-up(sm) {
      @include rem(letter-spacing, 0.15px);
      @include rem(font-size, $navigation-font-size-medium);
    }

    @include media-breakpoint-up(md) {
      width: auto;
      order: 1;
    }
  }
}