

#page-wrapper {
  z-index: 1;
  position: relative;
  @include rem(margin-bottom, $footer-height);
  background-color: white;
}


#main {
  margin-top: 1rem;
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  li {
	padding-bottom: 0.25rem;
  }
}
